<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3BZjOhuoWvggcSaNWkFJMMjcuB2-pNzjndA&usqp=CAU" 
                alt="" 
                height="150px"
                srcset=""
            >
        </div>

        <div class="small-card__title">
            <h1><a href="#">DIA DO AUSTRONAUTA</a></h1>
        </div>
    </div>

    <div calss="container__small-card__separator">
        <hr>
    </div>
</div>

